@model ProjectLTWwarriors.Models.Products

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-light">CẬP NHẬT SẢN PHẨM</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("PVCreateEditProduct", Model)

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
